/* body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #333;
}
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}
header {
    background: #003366;
    color: white;
    padding: 20px 0;
}
.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-links {
    display: flex;
    gap: 20px;
}
.nav-link {
    position: relative;
    color: white;
    text-decoration: none;
    padding: 0 10px;
}
.nav-link:not(:last-child)::after {
    content: "|";
    position: absolute;
    right: -12px;
    color: white;
}
.nav-link:hover {
    text-decoration: underline;
}

img{
    width: 80px;
    height: 80px;
    object-fit: cover;
}
.hero {
    padding: 40px 0;
    text-align: center;
    background: #f4f4f4;
}
.cta-button {
    display: inline-block;
    background: #003366;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin: 20px 0;
}
.features {
    padding: 40px 0;
    text-align: center;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}
th, td {
    padding: 15px;
    border: 1px solid #ddd;
    text-align: center;
}
.newsletter {
    background: #f4f4f4;
    padding: 40px 0;
    text-align: center;
}
input[type="email"] {
    padding: 10px;
    width: 300px;
    margin-right: 10px;
}
input[type="submit"] {
    padding: 10px 20px;
    background: #003366;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
footer {
    background: #003366;
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-top: 20px;
}

.listing-image {
    width: 100% !important;
    height: auto;
    max-height: 60%;
    object-fit: cover;
    margin-bottom: 6px;
    border-radius: 4px;
}

.listing-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}

.listing-card{
    aspect-ratio: 1 / 1;
    background-color: #f4f4f4;
    border: 1px solid #ccc;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 5px;
    box-sizing: border-box;
    text-align: center;
    font-weight: bold;
}

.listing-card h3{
    font-size: 14px;
    margin: 5px 0px;
    line-height: 1.2;
    color: #555;
} */
